<!DOCTYPE html>

{% load staticfiles %}

<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_menu.css' %}">
    <script src="{% static 'js/main_menu.js' %}"></script>
</head>
<body style="background:#6699FF">
<div align="center"><h1>MAIN MENU</h1></div>
<div id="leftBox" ondrop="drop(event)" ondragover="allowDrop(event)">Here</div>
<div id="rightBox">
    <img id="logo" src="{% static 'img/inTigaie.png' %}" ondblclick="restoreDefaults()" draggable="true" ondragstart="drag(event)">
</div>
    <form action="/ingredients">
        <input type="submit"value="To Ingredients"/>
    </form>
    <form action="/recipes">
        <input type="submit"value="To Recipes"/>
    </form>
    <button onclick="myFunction()">Click me</button>
</body>
</html>