<!DOCTYPE html>

{% load staticfiles %}

<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_menu.css' %}">
    <script src="{% static 'js/main_menu.js' %}"></script>
</head>
<body style="background:#6699FF">
    <form action="/ingredients">
        <input type="submit"value="To Ingredients"/>
    </form>
    <form action="/recipes" align="left">
        <input type="submit"value="To Recipes"/>
    </form>
<div align="center"><h1>MAIN MENU</h1></div>
    <p align="left">Ingredients( drag the ingredient to pan ) : </p>
<div id="leftBox">
    <img id="red_cabbage" class="ingredients" src="{% static 'img/red_cabbage.png' %}" draggable="true" ondragstart="drag(event)">
    <img id="carrot" class="ingredients" src="{% static 'img/carrot.png' %}" draggable="true" ondragstart="drag(event)">
</div>
<div id="rightBox" ondrop="drop(event)" ondragover="allowDrop(event)">
    <img id="logo" src="{% static 'img/in_tigaie.png' %}" draggable="false">
</div>
<p align="right">Ingredients( double click on ingredient to make him go back ) :</p>
<div id="ingredientsPanel"></div>
</body>
</html>