<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<b>HELLO WORLD</b>
<br><br>
<div id="Ingredients">
    {% for recipe in recipesList %}
        <div class="box">
            <span style="color:#ff0000"><b><i>Name: </b></i>{{ recipe.getName }}<br></span>
            <i>Description: </i> {{ recipe.getDescription }}<br>
            <br>
            <b>Ingredients list: </b><br>
            {% for ingredient in recipe.getIngredients %}
                <b><i>Name: </b></i>{{ ingredient.getName }}<br>
                <b><i>Price: </b></i>{{ ingredient.getPrice }}<br>
                <b><i>Description: </b></i>{{ ingredient.getDescription }}<br>
                <br><br>
            {% endfor %}
        </div>
    {% endfor %}
    <form action="/recipes/"  method="get" >
        Insert your madafaka ingredients
        <input type="text" name = "ingredients">
        <input type="submit"value="Search"/>
    </form>
</div>
</body>
</html>